<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  <appSettings>
    <add key="ImpressaoDigitalCertificadoHomologacao" value="10BE835615C8AFC5B92717EBF402B0FFE678918D" />
    <add key="ImpressaoDigitalCertificadoProducao" value="47C42AFFBA529351C55DB7AE72AB7788211737F9" />
  </appSettings>
  
</configuration>